* {
    font-family: sans-serif;
    padding: 0;
    width: auto;
}
img {
    width: 100vw;
    max-width: 900px;
}
fieldset {
    border-color: transparent;
    margin: 15px 15px;
}

.formulario {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: #cdcdcd;
}

header{
    text-align: center;
    color: #d8a400;
    margin-bottom: 0px;
    text-decoration: none;
    border-color: 1px solid black;
}

.tipoTal li {
    display:inline-block;
}

table {
    margin: 20px 280px;
}

thead {
    background: #d8a400;
    color: black;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 8px;
}

th:first-child{
    border-top-left-radius: 7px;
}
  
th:nth-last-child(1){
    border-top-right-radius: 7px;
}
  
.ultima_fila td:first-child{
     border-bottom-left-radius: 7px;
}
  
.ultima_fila td:nth-last-child(1){
     border-bottom-right-radius: 7px;
}

#nombres, #ruc, #razonSocial, #telefono {
    width: 400px;
    height: 25px;
}
#tipoLabor {
    width: 150px;
    height: 25px;
}


.campo {
    margin: 10px 0;
    text-align: center;
}

.enviar {
    margin: 20px 0;
    width: 150px;
    padding: 15px 0; 
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #d8a400;
    border: none;
    border-radius: 5px;
}

#nombres, #ruc, #razonSocial, #telefono {
    width: 250px;
    height: 20px;
    padding: 3px 3px;
    border-radius: 4px;
}

#zonalabor, #fecha, #turno, #labor {
    width: 120px;
    padding: 3px 3px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    border-color: 4px solid black;
}
input#taladrosperforados, input#taladroscargados, input#taladrosvacios{
    width: 50px;
    padding: 3px 3px;
    border-radius: 3px;
}

input#emulnor5k, input#emulnor3k, input#carmex1, input#carmex2, input#mecharapida, input#emulnor5k-stock, input#emulnor3k-stock, input#carmex1-stock, input#carmex2-stock, input#mecharapida-stock {
    width: 50px;
    padding: 2px 2px;
    border-radius: 3px;
}

select#contrata {
    width: 300px;
    padding: 3px 3px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}


@media screen and (max-width: 480px){

   .formulario{
        width: auto;
   }

   img {
        width: 350px;
   }

   #nombres, #ruc, #razonSocial, #telefono {
        width: 250px;
        height: 20px;
        padding: 3px 3px;
        border-radius: 4px;
   }
   
    #zonalabor, #fecha, #turno, #labor {
        width: 120px;
        padding: 3px 3px;
        text-align: center;
        font-weight: bold;
        border-radius: 4px;
        border-color: 4px solid black;
}
    input#taladrosperforados, input#taladroscargados, input#taladrosvacios{
        width: 50px;
        padding: 3px 3px;
        border-radius: 3px;
    }

    input#emulnor5k, input#emulnor3k, input#carmex1, input#carmex2, input#mecharapida, input#emulnor5k-stock, input#emulnor3k-stock, input#carmex1-stock, input#carmex2-stock, input#mecharapida-stock {
        width: 50px;
        padding: 2px 2px;
        border-radius: 3px;
    }

    select#contrata {
        width: 300px;
        padding: 3px 3px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
    }
    #insertarimg {
        width: auto;
    }
    
    table {
        margin: 20px 40px;
    }

}
}
